/* RESET */
*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
 
/* DEBUG */

.debug{
    margin: 2px dashed black;
}

.navbar{
    background-color: #ADD8E6;
    min-height: 80px;

}

.maincontent-header{
    background-color: #00008B;
    min-height: 500px;
}