/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
/* DEBUG */

.debug{
    border: black dashed 2px;
}

.navbar{
    background-color: #ADD8E6;
    min-height: 80px;
    display: flex;
    justify-content: center;
    

}

.maincontent-header{
    background-color: #00008B;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:4px solid #ADD8E6 ;
}


.row-navbar{
    background-color: #DAA520;
    min-height: 50px;
    display: flex;
    min-width: 1200px;
    margin: 15px 0;
    font-size: 24px;
    
}

.container{
    max-width: 1200px;
    
    
}

.col-2{
    flex-basis: calc(100% / 4);
    display: flex;
    align-items: center;
    padding: 0 10px;

    
}

.col-2:last-child{
    justify-content: flex-end;
}

.col-8{
    flex-basis: calc(100% / 2);
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.row-mainc-header{
    min-height: 400px;
    min-width: 900px;
    background-color: #EE82EE;
}

.main-section-bgwhite{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row-main{
    min-height: 500px;
    min-width: 1200px;
    display: flex;
}

.col-5{
flex-basis: calc(100% / 2);
background-color: #1E90FF;
flex-grow: 1;
}

.col-7{
    flex-basis: calc(100% / 3);
    background-color: #FFC0CB;
    flex-grow: 1;
}

.main-section-bggrey{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}