/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
/* DEBUG */

.debug{
    border: black dashed 2px;
}

.debugwhite{
    border: white dashed 2px;

}
 
/* HEADER */

.navbar{
    background-color: #ADD8E6;
    min-height: 80px;
    display: flex;
    justify-content: center;
    

}

.maincontent-header{
    background-color: #00008B;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:4px solid #ADD8E6 ;
}


.row-navbar{
    background-color: #DAA520;
    min-height: 50px;
    display: flex;
    min-width: 1200px;
    margin: 15px 0;
    font-size: 24px;
    
}

.container{
    max-width: 1200px;
    
    
}

.col-2{
    flex-basis: calc(100% / 4);
    display: flex;
    align-items: center;
    padding: 0 10px;

    
}

.col-2:last-child{
    justify-content: flex-end;
}

.col-8{
    flex-basis: calc(100% / 2);
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.row-mainc-header{
    min-height: 400px;
    min-width: 900px;
    background-color: #EE82EE;
}

/* MAIN-SECTION */

.main-section-bgwhite{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row-main{
    min-height: 500px;
    min-width: 1200px;
    display: flex;
}

.col-5{
flex-basis: calc(100% / 2);
background-color: #1E90FF;
flex-grow: 1;
}

.col-7{
    flex-basis: calc(100% / 3);
    background-color: #FFC0CB;
    flex-grow: 1;
}

.main-section-bggrey{
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.big-main-section-bggrey{
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3D3D3;
}

.big-row-main{
    min-height: 800px;
    min-width: 1200px;
    display: flex;
}

.col-12 {
    background-color: #228B22;
    flex-basis: 100%;
}

.main-section-bgblack{
background-color: #23272a;
min-height: 550px;
display: flex;
justify-content: center;
align-items: flex-start;
padding-top: 8px;
border-bottom: 2px solid white;
}

.row-main > .col-2 {
    background-color: #20B2AA;
}

.col-3{
    flex-basis: calc(100% / 3);
    background-color: #F08080;
}

.footer-section{
    background-color: #23272a; 
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    border-bottom: 1px solid white;
}

.row-footer{
    min-width: 1200px;
    min-height: 70px;
    background-color: #7FFFD4;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.col-footer{
    min-height: 40px;
    min-width: 50px;
}